

<table class="table">
    <thead>
        <tr>
            <th></th>    
            <th>Product</th>    
            <th>Quantity</th>    
            <th>Price</th>
            <th>Total</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.name }}</td>    
            <td>{{ item.quantity}}</td>    
            <td>€{{ item.price }}</td>
            <td>€{{ item.total}}</td>
           
        {% endfor %}

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total:</strong></td>
            <td><strong>€{{total}}</strong></td>
            <td></td>
        </tr>
    </tbody>
</table>