
.navbar-trans {
  background: white; }
  


.nav{
    list-style:none;
    margin: 20px;
    text-align:center;
    font-size: 2rem;

}
.nav li{
    display:inline;
    color: #5EC5C4;
}
.nav a{
    display:inline-block;
}